DECLARE @TABLEI TABLE (Number INT)
DECLARE @SUMCOUNT INT, @A INT, @INDEX INT, @Y INT, @TMPVALUE INT


SET @INDEX = 0
SET @SUMCOUNT = 10
SET @A = 1
SET @Y = 0

WHILE @INDEX < @SUMCOUNT
BEGIN

SET @INDEX = @INDEX + 1
INSERT INTO @TABLEI VALUES (@INDEX)

END

DECLARE CURSORX SCROLL CURSOR FOR SELECT Number FROM @TABLEI
OPEN CURSORX
FETCH FIRST FROM CURSORX INTO @TMPVALUE
WHILE @@FETCH_STATUS = 0
BEGIN
SET @Y = @Y + (@TMPVALUE * @A)
FETCH NEXT FROM CURSORX INTO @TMPVALUE
END
CLOSE CURSORX
DEALLOCATE CURSORX

PRINT @Y
