body {
	background:#D0D0D0;
	width: 100%;
	height: 100%;
}


#wrapper {
	margin-left: auto;
    margin-right: auto;
	width: 95%;
}

#firstpicture {
	filter: brightness(40%);
	width: 100%;
	height: 450px;
}

.mail {
	position: absolute;
	top: 5.5%;
	left: 4%;
	font-family: 'Arial' sans-serif;
	color: white;
	text-shadow: 5px 5px 5px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
	text-shadow: 5px 5px 5px black;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #6C6C6C;
}

header {
	position: relative;
}

.content {
	margin: 5px 0 0 0;
	background: rgba(184,184,184,1.00);
}

#gerb {
	position: absolute;
	left: 2.5%;
	bottom: 30%;
	height: 200px;
	width: 200px;
}



.photo-containter {
	width: 100%;
	height: 1000px;
}

.quote-town {
	position: absolute;
	top: 70%;
	left: 60%;
	font-family: 'Arial' sans-serif;
	color: white;
	text-shadow: 5px 5px 5px brown;
}

.content {
	position: relative;
}

.sights {
	width: 350px;
	height: 200px;
	border: double 6px black;
	border-radius: 50px 0 / 50px;
}

.table-container {
	margin-left: auto;
    margin-right: auto;
	width: 90%;
}

.sights:hover {
	filter: brightness(50%);
}



.sights-description {
	float: right;
	margin-left: 50px;
	width: 925px
}

footer {
	position: relative;
	margin: 5px 0 0 0;
	width: 100%;
	background: #333;
	color: white;
}

.telephone {
	display: block;
	padding: 10px;
}

.copyright {
	padding: 10px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.news-container .sport  {
	background: #CCC;
	padding: 10px 10px 25px 10px;
	box-shadow: 2px 2px 5px 1px;
}

h3 > a:hover {
	text-decoration: underline;
}

.news-container .buisness {
	background: #CCC;
	padding: 10px 10px 25px 10px;
	box-shadow: 2px 2px 5px 1px;
}

.news-container .news {
	background: #CCC;
	padding: 10px 10px 25px 10px;
	box-shadow: 2px 2px 5px 1px;
}

.sights-table > .line {
	
}





.sights-container {
	border-bottom: outset;
	border-bottom-color: black;
}

.history-header {
	text-align: center;
}

.history-content {
	padding: 25px;
}

.history-content > p {
	text-indent: 50px;
}

.infrastructure-container {
	padding: 20px;
}

.header-container {
	text-align: center;
}

.formbounds-container {
	padding-top: 10px;
}

.formbounds-label {
	margin-left: 10px;
}

.formbounds {
	padding: 0 25px;
}

.reason-bounds {

	width: 500px;
	height: 200px;
}
